# Gitignore File
# Ignore all files
# Except files in /etc/
*
!.gitignore
!/etc/
!/etc/config/
!/etc/config/fstab
!/etc/sigmobi/
!/etc/sigmobi/setup_network.sh
!/root/
!/root/.bashrc
!/root/.bash_profile_sample

